@page "/"
@inject IJSRuntime Js

<PageTitle>Главная</PageTitle>

<div id="map" class="map"/>

<div class="container-fluid">

    <NavMenu/>

    <div class="infos">

        <div class="container-fluid info-container filters">
        </div>

        <MapFilters />

        <div class="container-fluid info-container park">

            <div class="header">
                <h5>Карточка парка</h5>
                <div class="btn">
                    <img src="images/ic_close.svg" width="24" height="24" alt="Close park info"/>
                </div>
            </div>

            <div class="menu">
                <div class="btn @(_selectedMenuItem == 0 ? "active" : "")" @onclick="() => OnMenuItemClicked(0)">
                    <p>О парке</p>
                </div>

                <div class="btn @(_selectedMenuItem == 1 ? "active" : "")" @onclick="() => OnMenuItemClicked(1)">
                    <p>Реестр объектов</p>
                </div>
            </div>

            <div class="park-section about @(_selectedMenuItem == 0 ? "active" : "")">
                <h6 style="font-weight: 600">Национальный парк Лосиный остров</h6>

                <div class="image">
                    <img src="images/image_park.png" alt="Park">
                </div>

                <p class="coordinates">Координаты <span style="font-weight: 500">55.862095, 37.825685</span></p>
            </div>

            <div class="park-section registry @(_selectedMenuItem == 1 ? "active" : "")">
                @foreach (var registryObject in _registryObjects)
                {
                    <div class="registry-item">
                        <img class="registry-item-image" src="images/image_gornostai_small.png" alt="Gornostai"/>
                        <h6 class="registry-item-name">@registryObject.Name</h6>
                        <p class="registry-item-specie">@registryObject.Specie</p>
                    </div>
                }
            </div>

            <div class="container-fluid info-container object">
            </div>

        </div>
    </div>

</div>

@code
{
    private int _selectedMenuItem;
    private IEnumerable<RegistryObject> _registryObjects;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Js.InvokeVoidAsync("initializeMap");
        }
    }

    protected override void OnInitialized()
    {
        _registryObjects =
        [
            new RegistryObject { Name = "Горностай", Specie = "Mustela erminea Linnaeus" },
            new RegistryObject { Name = "Брат Горностая", Specie = "Mustela erminea Linnaeus 1" },
            new RegistryObject { Name = "Сестра Горностая", Specie = "Mustela erminea Linnaeus 2" },
            new RegistryObject { Name = "Сват Горностая", Specie = "Mustela erminea Linnaeus 3" },
        ];
    }

    private void OnMenuItemClicked(int item)
    {
        _selectedMenuItem = item;
    }

    private class RegistryObject
    {
        public string Name { get; set; }

        public string Specie { get; set; }
    }
}