@page "/registry-habitants"
@using System.Globalization
@using Ecothon.Web.Definitions.Contants
@using Ecothon.Web.Definitions.Strapi.Responses
@inject IStrapiApiService StrapiApiService
@inject IConfiguration Configuration

<PageTitle>Реестр растений и животных</PageTitle>

<div class="container-fluid main page-registry-habitant" style="pointer-events: auto">

    <NavMenu/>

    <h3 style="margin-top: 32px; margin-left: 24px">Реестр растений и животных</h3>

    <div class="container-fluid page-content">

        <div class="toolbar">

            <div class="toolbar-left">
                <div class="btn active">
                    <img src="images/ic_list.svg" alt="list"/>
                </div>
                <div class="btn">
                    <img src="images/ic_grid.svg" alt="list"/>
                </div>
            </div>

            <div class="toolbar-right">
                <div class="toolbar-tool search">
                    <img src="images/ic_search.svg" alt="list"/>
                    <p>Искать по реестру</p>
                </div>
                <div class="toolbar-tool sort">
                    <img src="images/ic_sort.svg" alt="list"/>
                    <p>Сортировать</p>
                </div>
                <div class="toolbar-tool filter">
                    <img src="images/ic_filter.svg" alt="list"/>
                    <p>Фильтровать</p>
                </div>
            </div>
        </div>

        @if (_habitants == null)
        {
            <p>
                <em>Loading...</em>
            </p>
        }
        else
        {
            <div class="list">
                @for (var i = 0; i < _habitants.Length; i++)
                {
                    <div class="list-item">
                        <div class="col-1">
                            <div style="grid-column: 1/2; grid-row: 1/3">
                                <img style="border-radius: 6px; object-fit: cover; height: 60px" src="@(Configuration.GetValue<string>(ConfigurationConstants.AppSettings.Strapi.BASE_URL) + _habitants[i].Photo?.Data?.Item?.Formats?.Small?.Url?.TrimStart('/'))" alt=""/>
                            </div>

                            <h6 style="font-weight: 600; grid-column: 2/3; grid-row: 1/2">@_habitants[i].NameRu</h6>

                            <p style="grid-column: 2/3; grid-row: 2/3">@_habitants[i].NameLat</p>
                        </div>

                        <div class="col-2">
                            <p style="grid-row: 1/2">Хищные (Carnivora)</p>

                            <p style="grid-row: 2/3">@_habitants[i].NameRu (@_habitants[i].NameLat)</p>
                        </div>

                        @if (_habitants[i].Status?.Data?.Item?.Status == 1)
                        {
                            <div class="col-3">
                                <img src="images/ic_warning.svg" alt="warning"/>

                                <p style="font-size: 13px">Под угрозой исчезновения</p>
                            </div>
                        }

                        <div class="col-4">
                            <p style="grid-row: 1/2">Дата создания</p>

                            <p style="grid-row: 2/3">@_habitants[i].CreatedAt.ToString("dd MMMM yyy hh:mm", CultureInfo.GetCultureInfo("ru-RU"))</p>
                        </div>

                        <div class="col-5">
                            <p style="grid-row: 1/2">Дата изменения</p>

                            <p style="grid-row: 2/3">@_habitants[i].UpdatedAt.ToString("dd MMMM yyy hh:mm", CultureInfo.GetCultureInfo("ru-RU"))</p>
                        </div>

                        <div class="col-6">
                            <p style="font-size: 13px">Открыть полную карточку</p>

                            <img src="images/ic_arrow_up_right.svg" alt="arrow"/>
                        </div>

                    </div>
                    
                    @if (i + 1 < _habitants.Length)
                    {
                        <hr style="background-color: rgba(224, 229, 235, 1); height: 1px" />
                    }
                }
            </div>
        }

    </div>
</div>

@code {
    private HabitantItemResponse[] _habitants;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _habitants = (await StrapiApiService.GetHabitantsAsync()).ToArray();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);

            throw;
        }
    }

}